@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: #121212;
  font-family: 'work sans';
  color: #cf610f;
  text-align: center;
  overflow-y: scroll;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
#wrapper {
  overflow-x: hidden;
}

#largemenu {
  position: relative;
}

#orangelogo {
  position: relative;
  color: #cf610f;
  z-index: 4;
  width: 150px;
  height: 150px;
}

#menuheader {
  height: 150px;
}

#menucontent {
  font-family: 'work sans';
  position: relative;
  width: 100%;
  height: 100%;
}

.header_video {
  width: 100%;
  height: 100%;
}

.smol_video {
  width: 100%;
  height: 100%;
}

.header_video:hover, .smol_video:hover {
  cursor: pointer;
}

/*Team elements*/
.members {
  position: relative;
  margin: 10px auto;
  overflow: hidden;
}

.nameheader {
  margin-top: 0;
  color: #ef7a22;
}

.portrait {
  position: relative;
  display: inline-block;
  transition: opacity 2s cubic-bezier(0.45, 0, 0.55, 1);
}

.teaminfo {
  position: relative;
  height: 150px;
  width: 250px;
  margin: auto;
  text-align: left;
  float: right;
}

.face {
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.45, 0, 0.55, 1);
  transform: translateZ(0);
}

.nameheader {
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.37, 0, 0.63, 1);
  transform: translateZ(0);
}

.teamdescript {
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.37, 0, 0.63, 1);
  transform: translateZ(0);
}

.teamfadein {
  opacity: 1;
}

#smalls > img:not(:first-child) {
  margin-left: 8px;
}
/* Film details */
#fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/desktoporange.png");
  background-repeat: repeat-y;
  background-color: #cf610f;
  z-index: 10;
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.77,0.2,0.05,1.0) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.77,0.2,0.05,1.0) both;
}
#detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#film_info {
  position: relative;
  padding: 0;
  color: #1b1b1b;
  /*box-shadow: 0 0 10px #1b1a1a;*/
}

#header {
  position: relative;
  display: flex;
  max-width: 800px;
  max-height: 450px;
  margin: auto;
}

.videoplayer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#episode, #demoreel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    max-width: 960px;
    max-height: 540px;
}

#close {
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 2;
  color: #cf610f;
}

#title {
  text-align: center;
  font-family: 'gentium book basic';
}

#description {
  text-align: left;
  padding: 5px 10px;
}

#descript {
  position: relative;
  margin: auto;
  padding-left: 5px;
  max-width: 400px;
}

#year {
  position: relative;
  top: 0;
  right: 0;
  text-align: right;
}
/* animation slide-in-bottom */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Film details close button */
.close-container{
  position: absolute;
  top: 3px;
  right: 5px;
  margin: auto;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}

.leftright{
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 12px;
  background-color: #ef7a22;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .2s ease-in;
}

.rightleft{
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 12px;
  background-color: #ef7a22;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .2s ease-in;
}

.close-container:hover > div {
  background-color: #cf610f;
}

#descript > div {
  position: relative;
  display: inline-block;
  width: 100%;
  float: right;
  text-align: right;
}
/* Menu */
#mobilenav {
  background-image: 'blankpng.png';
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  z-index: 4;
}

#smallmenu {
  text-align: left;
  height: 100%;
  z-index: 4;
}

#smallmenu a {
  text-decoration: none;
  color: #1b1a1a;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}

#smallmenu ul {
  list-style-type: none;
}

#smallmenu a:hover {
  opacity:0.5;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 20px;
  z-index: 4;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  left:-10px;
  top:-10px;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
}

#menuToggle div
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cf610f;
  border-radius: 3px;
  z-index: 5;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle div:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle div:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ div
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background-color: #121212 !important;
}
#menuToggle input:checked ~ div:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ :nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 150px;
  height: 260px;
  box-shadow: 0 0 10px #1b1a1a;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #cf610f;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-500%, 0%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 4;
}

#menu li
{
  padding: 8px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#text {
  display:flex;
  width:100%;
  padding-top: 4px;
}

/* Media Queries */
@media (min-width: 300px) {
  #desktopfooter {
    visibility: hidden;
    display: none;
  }
  #mobilefooter {
    visibility: visible;
    display:block;
    margin-top: 7px;
  }
  #demoreel {
    width:  95vw;
    height: 53.439vw; /* 90*9/16 */
  }
  .smol_spacing {
    padding: 0 0 2px;
  }
  .teaminfo {
    width: 100%;
  }
    .main {
        height: 100px;
    }
}

@media (min-width: 700px) {
  #menu {
    margin: -50px 0 0 -50px;
    transform: translate(0%, -100%);
  }
  #menuToggle {
    top: 25px;
    left: 20px;
  }

  #desktopfooter {
    visibility: visible;
    display: block;
    margin-top: 5px;
  }
  #mobilefooter {
    visibility: hidden;
    display: none;
  }
  .smol_spacing {
    padding: 0 0 8px;
  }
  .smol_video {
    width: 100%;
    height: 100%;
  }
  .portrait > img{
    width: 150px;
    height: 150px;
  }
  .teaminfo {
    width: 250px;
    height: 150px;
  }
  .members {
    margin: 20px auto;
  }
}
